<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
	<script src="js/jquery.min.js"></script>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="stylesheet" href="style/main.css">
</head>
<body>
	<div class='container'>
		<h1>Dog Shelter</h1>
		<hr>
		<h3><%= dog.name %></h3>
		<p>Age: <%= dog.age %> years old</p>
		<p>Breed: <%= dog.breed %></p>
		<p>Weight: <%= dog.weight %></p>
		<hr>
		<a href="/dogs/<%= dog.id %>/edit"><button class='btn btn-default' type="button">Edit</button></a>
		<a href="/dogs/<%= dog.id %>/delete"><button class='btn btn-default' type="button" onclick="if(!confirm('Confirm Delete!')) return false">Delete</button></a>
		<a href="/"><button class='btn btn-default' type="button">Go Back</button></a>
	</div>
</body>
</html>
